.App {
  text-align: center;
  margin-top: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.label {
  font-size: 20px;
  text-align: center;
}

.show-presenter {
  margin-top: 20px;
  font-weight: 2000;
  color: #158beb;
}

select {
  margin: 10px;
  font-size: 15px;
  width: 100px;
  height: 100px;
}
